<p style="color: green"><%= notice %></p>

<%= render @social_account %>

<div>
  <%= link_to "Edit this social account", edit_social_account_path(@social_account) %> |
  <%= link_to "Back to social accounts", social_accounts_path %>

  <%= button_to "Destroy this social account", @social_account, method: :delete %>
</div>
