<div class="row">
  <div class="col-sm-12">
    <p>
      <span> Logged in as <%= current_influencer.email %>
    </p>
    <%= link_to "Profile", profile_path, class: 'btn btn-success' %>
    <%= link_to "Posts", posts_path, class: 'btn btn-info' %>
    <%= link_to "Social Accounts", social_accounts_path, class: 'btn btn-warning' %>
    <%= button_to "Logout as Influencer", destroy_influencer_session_path, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>
