<% User.includes(:active_relationships, :passive_relationships).all.each do |user|%>
  <div class="row">
    <div class="col-sm-8">
      <%= user.email%>
    </div>
      
    <div class="col-sm-4">
      <% if current_user.following? user %>
        <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
              html: { method: :delete }) do |f| %>
          <%= f.submit "Unfollow", class: "btn btn-danger" %>
        <% end %>
      <% else %>
        <%= form_for(current_user.active_relationships.build) do |f| %>
          <div><%= hidden_field_tag :followed_id, user.id %></div>
          <%= f.submit "Follow", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>

  </div>  
<% end %>

<%= button_to "Logout", destroy_user_session_path, method: :delete, data: "Are you sure to logout ?" %>