<!-- Using this layout for devise navigation -->
<!DOCTYPE html>
<html>
  <head>
    <title>Fanspace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('fav.png') %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>
    <%= javascript_tag "devise" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
